.place-popup {
  display: none;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  border: none;
  padding: 0;
  background-color: #ffffff;
  justify-content: center;
  z-index: 9999;
}

.place-popup_opened {
  top: calc((100vh - 330px) / 2);
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

.place-popup__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-wrap: wrap;
  width: 358px;
  background-color: #ffffff;
  overflow: visible;
}

.place-popup__title {
  margin: 0;
  width: 358px;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  color: #000000;
}

.place-popup__input {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}

.place-popup__input_type_error {
  border-bottom-color: red;
}

.place-popup__input::placeholder{
  color: #c4c4c4;
}

.place-popup__input-error {
  width: 100%;
  height: 29px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  color: #FFF;
  margin-top: 6px;
}

.place-popup__input-error_active {
  width: 100%;
  height: 29px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  color: #FF0000;
  margin-top: 6px;
}

.place-popup__btn-submit {
  width: 100%;
  height: 50px;
  margin-top: 24px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  cursor: pointer;
}

.place-popup__btn-submit:hover {
  opacity: 0.8;
}

.place-popup__btn-submit_inactive {
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
  background-color: #FFFFFF;
  cursor: default;
}

.place-popup__btn-close {
  position: absolute;
  padding: 0;
  width: 30px;
  height: 30px;
  left: 433px;
  top: -37px;
  background-image: url("../images/Close-Icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 30px;
  border: none;
  cursor: pointer;
}

.place-popup__btn-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 920px) and (max-height: 420px) {
  .place-popup {
    height: 310px;
  }
  .place-popup_opened {
    top: calc((100vh - 310px) / 2);
  }
  .place-popup__about {
    margin-bottom: 25px;
  }

  .place-popup__btn-close {
    top: 7px;
    left: 437px;
  }
}

@media screen and (max-width: 620px) {
  .place-popup {
    width: 282px;
    height: 322px;
  }

  .place-popup__container {
    width: 238px;
  }

  .place-popup__title {
    font-size: 18px;
  }

  .place-popup__btn-submit {
    font-size: 14px;
  }

  .place-popup__btn-close {
    width: 26px;
    height: 26px;
    left: 256px;
    top: -38px;
    background-size: 26px;
  }
}
